<div id='pitch'>
   <img id='avatar' src="/keith.mcdonnell.jpg"/>
   
   <h1>
      I&apos;m <em>Keith McDonnell</em>, a freelance Ruby / Rails developer based 
      in Woodbridge, UK.
   </h1>
      
   <p>
      You can find <a href="http://github.com/kmcd">my open source work</a> 
      on github and here's my <a href="/keith.mcdonnell.pdf">CV 
      (or resume)</a>. 
   </p>
   
   <p>
      Email <a href="mailto:<%= email_address %>"><%= email_address %></a>
      if you want to get in touch. Keep abrest of latest articles with my
      <a href="/keith_mcdonnell.rss">RSS feed</a>.
   </p>
</div>

<ol id='articles'>
   <% @articles.sort_by {|a| a.updated_at }.reverse.each do |article| %>
   <li>
      <a href="<%= article.file_name %>"><%= article.title %></a>
      <span><%= article.updated_at.strftime "%a %d %b %Y" %></span>
   </li>
   <% end %>
</ol>
