<div id='pitch'>
   <img id='avatar' src="/keith.mcdonnell.jpg"/>
   
   <h1>
      <em>Keith McDonnell</em> is a freelance Ruby / Rails developer based in 
      London, UK.
   </h1>
   
   <p>
      I&apos;m passionate about Ruby, Ruby on Rails, Test Driven Development, agile 
      and lean project management.
   </p>
   
   <p>
      You can find <a href="http://github.com/kmcd">my open source work</a> 
      on github and here's my <a href="/keith.mcdonnell.pdf">CV 
      (or resume)</a>.
   </p>
</div>

<p id='call2action'>
   Looking for a Ruby / Rails developer? Email <a href="mailto:<%= email_address %>"><%= email_address %></a> or phone 
   +353 87 127 3927 to find out when we start working together.
</p>

<ol id='articles'>
   <li><a href="#">All articles RSS feed</a></li>
   <% @articles.sort_by {|a| a.updated_at }.reverse.each do |article| %>
   <li>
      <a href="<%= article.file_name %>"><%= article.title %></a>
      <span><%= article.updated_at.strftime "%a %d %b %Y" %></span>
   </li>
   <% end %>
</ol>
