<div class='index'>
   <div class='about'>
      <img src="keith.mcdonnell.jpg"/>
      
      <p>
         I, <em>Keith McDonnell</em>, have been developing software since 1999,
         specialising in Ruby, Rails and agile project management.
         Here's my <a href="/keith.mcdonnell.pdf">CV (or resume)</a> and you can 
         find my <a href="http://github.com/kmcd">open source work on github</a>.
      </p>
      
      <table class='contact'>
         <caption>If you want to get in touch, here&apos;s my contact details:</caption>
         
         <tr>
            <td>email</td>
            <td><a href="mailto:<%= email_address %>"><%= email_address %></a></td>
         </tr>
         <tr>
            <td>mobile</td>
            <td>+353 87 127 3927</td>
         </tr>
         <tr>
            <td>skype</td>
            <td>keithmmcdonnell</td>
         </tr>
      </table>
   </div>
   
   <p>Here are the articles I've written on &hellip;</p>
   <dl>
   <% @articles.group_by {|a| a.tags }.sort_by {|a| a.first }.each do |group| %>
      <dt><%= group.first %></dt>
      <% group.last.sort_by {|a| a.title }.each do |article| %>
      <dd>
         <a href="<%= article.file_name %>"><%= article.title %></a>
      </dd>
      <% end %>
   <% end %>
   
   <p class='copyright'>
      Copyright
      <a href='http://creativecommons.org/licenses/by-sa/2.5/'>&copy;</a>
      2006 &mdash; 2010
      by <a href="/">Keith McDonnell</a>.
   </p>
</div>
