<div id='pitch'>
   <img id='avatar' src="/keith.mcdonnell.jpg"/>
   
   <h1>
      I&apos;m <em>Keith McDonnell</em>, a freelance Ruby / Ruby on Rails 
      developer based in London, UK.
   </h1>
   
   <p>
      I&apos;m passionate about clean code, elegant user interfaces and working 
      in hyper productive agile/lean teams.
   </p>
   
   <p>
      You can find <a href="http://github.com/kmcd">my open source work</a> 
      on github and here's my <a href="/keith.mcdonnell.pdf">CV 
      (or resume)</a>.
   </p>
</div>

<div id='call2action'>
   <h2>Looking for a Ruby / Rails developer?</h2>
   
   <p>
      Email <a href="mailto:<%= email_address %>"><%= email_address %></a> 
      or phone <em>+44 77 4955 7230</em>
      to find out when we start working together.
   </p>
</div>

<ol id='articles'>
   <li><a href="#">All articles RSS feed</a></li>
   <% @articles.sort_by {|a| a.updated_at }.reverse.each do |article| %>
   <li>
      <a href="<%= article.file_name %>"><%= article.title %></a>
      <span><%= article.updated_at.strftime "%a %d %b %Y" %></span>
   </li>
   <% end %>
</ol>
