<h1><%= @article.title %></h1>

<p class='author'>Written by <a href="http://www.keithmcdonnell.net">Keith McDonnell</a>. Last updated on 
<%= @article.updated_at.strftime("%A, %B %d, %Y") %>.</p>

<div class='content'>                                 
   <%= @article.content %>
</div>

<p class='comments'>
   If you&apos;d like to discuss this article, you can send me an email 
   <a href="mailto:<%= email_address %>"><%= email_address %></a> and/or 
   publish an article online and link back to this page.
</p>
