<div class='about'>
   <img src="images/keith.mcdonnell.jpg"/>
   
   <h1>
      I, <em>Keith McDonnell</em>, am a software developer with 10+ years experience specialising in Ruby, Rails and project management. <%= link_to 'My open source contributons', 'http://github.com/kmcd' %> are on github and here's <%= link_to 'my CV (or resume)', 'keith.mcdonnell.pdf' %>.
   </h1>
</div>

<h2>
  If you want to get in touch, here&apos;s my contact details:
   
   <table>
      <tr>
         <td>email</td>
         <td><%= email_address %></td>
      </tr>
      <tr>
         <td>mobile</td>
         <td>+353 87 127 3927</td>
      </tr>
      <tr>
         <td>skype</td>
         <td>keithmmcdonnell</td>
      </tr>
      
   </table>
</h2>

<% @articles.group_by(&:tag).sort_by(&:first).each do |category, articles| -%>
   <%= content_tag :h3, category -%>
   
   <ol id="articles">
      <% articles.each do |article| %>
      <li>
         <%= link_to article.title, article_path(article) + ".html" %>
      </li>
      <% end %>
   </ol>
<% end -%>

<p class='copyright'>
   Copyright
   <%= link_to '&copy;', 'http://creativecommons.org/licenses/by-sa/2.5/' %>
   2006 &mdash; 2010
   by <%= link_to 'Keith McDonnell', '/' %>.
</p>

