<div class='about'>
   <img src="images/keith.mcdonnell.jpg"/>
   
   <h1>
      Welcome to <em>Keith McDonnell</em>'s articles about Ruby, Rails, Software Development and Algorithms.
   </h1>
   
   <h2>
      You can find <%= link_to 'my open source contributons', 'http://github.com/kmcd' %> on github and <%= link_to 'my handy code snippets', 'http://gist.github.com/kmcd' %> on gist.
   </h2>
   
   <h2>
      If you want to get in touch, you can contact me on my mobile: +353 87 127 3927, on skype: keithmmcdonnell, or by email: <%= email_address %></em>
   </h2>
</div>

<% @articles.group_by(&:tag).sort_by(&:first).each do |category, articles| -%>
   <%= content_tag :h3, category -%>
   
   <ol id="articles">
      <% articles.each do |article| %>
      <li>
         <%= link_to article.title, article_path(article) + ".html" %>
      </li>
      <% end %>
   </ol>
<% end -%>

<p class='copyright'>
   Copyright
   <%= link_to '&copy;', 'http://creativecommons.org/licenses/by-sa/2.5/' %>
   2006 &mdash; 2010
   by <%= link_to 'Keith McDonnell', '/' %>.
</p>

