<h1><%= @article.title %></h1>

<p class='author'>Written by <%= link_to 'Keith McDonnell', '/' %>. Last updated on <%=  @article.updated_on.strftime("%A, %B %d, %Y") %>.</p>

<div class='content'>
   <%= @article.to_html %>
</div>

<p class='comments'>
   If you&apos;d like to discuss this article, you can send me an email <%= email_address %> and/or publish an article online and link back to this page.
</p>

<p class='copyright'>
   Copyright
   <%= link_to '&copy;', 'http://creativecommons.org/licenses/by-sa/2.5/' %>
   2006 &mdash; 2010
   by <%= link_to 'Keith McDonnell', '/' %>.
</p>
