<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
   <head>
      <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
      <%= stylesheet_link_tag 'dancingtext', :media => 'screen' %>
      <title>Keith McDonnell</title>
   </head>
   <body class="<%= controller.action_name %>">
      <%= yield %>
      
      <p class='copyright'>Copyright <%= link_to '&copy;', 'http://creativecommons.org/licenses/by-sa/2.5/' %> 2006-2009 by <%=  link_to 'Keith McDonnell', 'http://keithmcdonnell.net' %> .</p>
   </body>
</html>
